.rchangelink, .inlinerchangelink {
    padding-right: 16px;
    background: url(admin/img/icon-changelink.svg) 0 1px no-repeat;
    background-position: 100%;
}

.clickable {
    cursor: pointer;
}

ul.errorlist {
    list-style-type: none;
    background: #ff9999;
}
