{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<div class="module">
<table>
<caption>
<div class="section">Current tournament</div>
</caption>
{% if current_tournament %}
    <tr>
        <th scope="row">Current tournament: <a href="{% url 'admin:tournament_tournament_change' current_tournament.pk %}" class="rchangelink">{{ current_tournament }}</a></th>
        {% with num_rounds=current_tournament.num_rounds %}
        <td>{{ num_rounds }} round{{ num_rounds|pluralize }}</td>
        {% endwith %}
    </tr>

    <tr><td><a href="{% url 'admin:tournament_team_changelist' %}" class="changelink">Change teams</a></td><td></td></tr>
    <tr><td><a href="{% url 'admin:tournament_table_changelist' %}" class="changelink">Change tables</a></td><td></td></tr>
    <tr><td><a href="{% url 'admin:tournament_round_changelist' %}?tournament__id__exact={{ current_tournament.pk }}" class="changelink">Change rounds</a></td><td></td></tr>
    <tr><td><a href="{% url 'admin:tournament_match_changelist' %}?round__tournament__id__exact={{ current_tournament.pk }}" class="changelink">Change matches</a></td><td></td></tr>

    {% comment %}
    <tr><td><a href="{% url 'admin:tournament_tournament_actions' pk=current_tournament.pk tool='create_round' %}" class="addlink">Create a new round</a></td></tr>
    {% endcomment %}
    <tr><td><a href="{% url 'createround' pk=current_tournament.pk %}" class="addlink">Create a new round</a> (can take a few seconds)</td><td></td></tr>
{% else %}
    <th><td scope="row"><a href="{% url 'admin:tournament_tournament_add' %}" class="addlink">Create a new tournament</a></td><td></td></th>
{% endif %}
</table>
</div>

{% if current_tournament and current_tournament.num_rounds > 0 %}
{% with current_round=current_tournament.round_set.latest %}
<div class="module">
<table>
<caption>
<div class="section">Current round</div>
</caption>
    <tr>
        <th scope="row">Current round: <a href="{% url 'admin:tournament_round_change' current_round.pk %}" class="rchangelink">{{ current_round }}</a></th>
        <td>Time: {{ current_round.scheduled_time }}</td>
        <td></td>        
    </tr>
    
    {% for match in current_round.match_set.all %}
        <tr>
            <td><a href="{% url 'admin:tournament_match_change' match.pk %}">{{ match }}</a></td>
            <td>{% if match.table %}{{ match.table }}{% endif %}</td>
            <td>{% if match.result %}{{ match.result }}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endwith %}
{% endif %}

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}{% if app.name == 'Tournament' %} database{% endif %}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
