{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ tournament.name }}{% endblock %}


{% block navbar %}
<!-- <ul class="navbar-nav ml-auto d-none d-lg-block"> -->
<ul class="navbar-nav ml-auto">
    {% if tournament.is_registration_open %}
    <li class="nav-item">
        <a class="nav-link nav-link-registration navbar-button px-2" href="#registration">
            <img class="navbar-img" src="{% static 'registration.png' %}" /><div class="text-center">Iscrizioni</div>
        </a>
    </li>
    {% endif %}

    {% if team_scoreboard %}
    <li class="nav-item">
        <a class="nav-link nav-link-team navbar-button px-2" href="#team-scoreboard">
            <img class="navbar-img" src="{% static 'team.png' %}" /><div class="text-center">Classifica<br />squadre</div>
        </a>
    </li>
    {% endif %}

    {% if rounds %}
    <li class="nav-item">
        <a class="nav-link nav-link-rounds navbar-button px-2" href="#rounds">
            <img class="navbar-img" src="{% static 'clock.png' %}" />
            <div class="text-center navbar-button pt-2">Turni</div>
        </a>
    </li>
    {% endif %}

    {% if player_scoreboard %}
    <li class="nav-item">
        <a class="nav-link nav-link-player navbar-button px-2" href="#player-scoreboard">
            <img class="navbar-img" src="{% static 'player.png' %}" />
            <div class="text-center navbar-button">Classifica<br />individuale</div>
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}


{% block content %}

{% if tournament.is_registration_open %}
<h3 class="my-4" id="registration">Iscrizioni</h3>
<p>
{% if tournament.can_register %}
Su <a href="{% url 'registration' %}" class="link">questa pagina</a> puoi iscrivere una nuova squadra.<br />
{% else %}
È stato raggiunto il numero massimo di squadre.<br />
{% endif %}
{% if tournament.can_register_player %}
Su <a href="{% url 'player-registration' %}" class="link">questa pagina</a> puoi aggiungerti a una squadra già creata.
{% endif %}
</p>

{% if team_scoreboard or rounds or player_scoreboard %}
<hr />
{% endif %}
{% endif %}


{% if team_scoreboard %}
<h3 class="my-4 anchor" id="team-scoreboard">Classifica squadre</h3>

<div class="table-responsive">
<table class="table">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Incontri vinti</th>
    <th scope="col" class="text-center">Partite vinte</th>
    </tr>
</thead>
<tbody>
{% for team, score, rank in team_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td class="clickable" data-toggle="modal" data-target="#team-modal-{{ team.id }}">{{ team }}</td>
        <td class="text-center">{{ score.primary }} / {{ score.num_matches }}</td>
        <td class="text-center">{{ score.secondary }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% if rounds or player_scoreboard %}
<hr />
{% endif %}
{% endif %}


{% for round in rounds %}
<h3 class="my-4 anchor" {% if forloop.first %}id="rounds"{% endif %}>Turno {{ round.number }}{% if round.scheduled_time %}
<small class="text-muted">({{ round.scheduled_time|date:"l" }} alle {{ round.scheduled_time|date:"G:i" }})</small>{% endif %}</h3>

<div class="table-responsive">
<table class="table">
<thead>
    <tr>
    <th scope="col" style="width: 50%">Partita</th>
    <th scope="col" style="width: 30%">Tavolo</th>
    <th scope="col" style="width: 20%" class="text-center">Risultato</th>
    </tr>
</thead>
<tbody>
{% for match in round.valid_matches %}
    <tr>
        <td>{{ match }}</td>
        <td>{{ match.table|default_if_none:"-" }}</td>
        <td class="text-center">{% if round.show_results %}{{ match.result|default_if_none:"-" }}{% else %}-{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}
{% if rounds and player_scoreboard %}
<hr />
{% endif %}


{% if player_scoreboard %}
<h3 class="my-4 anchor" id="player-scoreboard">Classifica individuale</h3>

<div class="table-responsive">
<table class="table">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Giocatore</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Partite vinte</th>
    </tr>
</thead>
<tbody>
{% for player, score, rank in player_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td>{{ player.name }}</td>
        <td>{{ player.team.name }}</td>
        <td class="text-center">{{ score.primary }}</td>
        {# <td class="text-center">{{ score.num_matches }}</td> #}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}


{# Team modals #}
{% for team in teams %}
<div class="modal fade" id="team-modal-{{ team.id }}" tabindex="-1" role="dialog" aria-labelledby="label-team-{{ team.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-team-{{ team.id }}"><b>{{ team.name }}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for player in team.player_set.all %}
            {{ player.name }}{% if player.is_captain %} (capitano){% endif %}<br />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
