{% load i18n %}

{% language 'it' %}
<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>{{ tournament.name }}</title>
</head>


<body>

<div class="container my-4">
<h1>{{ tournament.name }}</h1>


<h3 class="my-4">Classifica squadre</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Vittorie</th>
    <th scope="col" class="text-center">Punti</th>
    <th scope="col" class="text-center">Partite</th>
    </tr>
</thead>
<tbody>
{% for team, score, rank in team_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td>{{ team }}</td>
        <td class="text-center">{{ score.primary }}</td>
        <td class="text-center">{{ score.secondary }}</td>
        <td class="text-center">{{ score.num_matches }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>


<h3 class="my-4">Classifica individuale</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Giocatore</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Punti</th>
    {# <th scope="col" class="text-center">Partite</th> #}
    </tr>
</thead>
<tbody>
{% for player, score, rank in player_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td>{{ player.name }}</td>
        <td>{{ player.team.name }}</td>
        <td class="text-center">{{ score.primary }}</td>
        {# <td class="text-center">{{ score.num_matches }}</td> #}
    </tr>
{% endfor %}
</tbody>
</table>
</div>



{% for round in rounds %}

<h3 class="my-4">Turno {{ round.number }}{% if round.scheduled_time %}
<small class="text-muted">({{ round.scheduled_time|date:"l G:i" }})</small>{% endif %}</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" style="width: 50%">Partita</th>
    <th scope="col" style="width: 30%">Tavolo</th>
    <th scope="col" style="width: 20%" class="text-center">Risultato</th>
    </tr>
</thead>
<tbody>
{% for match in round.normal_matches %}
    <tr>
        <td>{{ match }}</td>
        <td>{{ match.table|default_if_none:"-" }}</td>
        <td class="text-center">{{ match.result|default_if_none:"-" }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endfor %}


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
{% endlanguage %}
