{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
{% endblock %}


{% block content %}

{% if tournament %}
<h1>{{ tournament.name }}</h1>
{% else %}
<p>Non c'è alcun torneo.</p>
{% endif %}

{% if tournament.can_register or tournament.can_register_player %}
<h3 class="my-4">Iscrizioni</h3>
<p>
{% if tournament.can_register %}
Su <a href="{% url 'registration' %}">questa pagina</a> puoi iscrivere una nuova squadra.</br>
{% endif %}
{% if tournament.can_register_player %}
Su <a href="{% url 'player-registration' %}">questa pagina</a> puoi iscrivere un singolo giocatore.
{% endif %}
</p>
{% endif %}


{% if team_scoreboard %}
<h3 class="my-4">Classifica squadre</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Incontri vinti</th>
    <th scope="col" class="text-center">Partite vinte</th>
    </tr>
</thead>
<tbody>
{% for team, score, rank in team_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td class="clickable" data-toggle="modal" data-target="#team-modal-{{ team.id }}">{{ team }}</td>
        <td class="text-center">{{ score.primary }} / {{ score.num_matches }}</td>
        <td class="text-center">{{ score.secondary }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}


{% for round in rounds %}
<h3 class="my-4">Turno {{ round.number }}{% if round.scheduled_time %}
<small class="text-muted">({{ round.scheduled_time|date:"l" }} alle {{ round.scheduled_time|date:"G:i" }})</small>{% endif %}</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" style="width: 50%">Partita</th>
    <th scope="col" style="width: 30%">Tavolo</th>
    <th scope="col" style="width: 20%" class="text-center">Risultato</th>
    </tr>
</thead>
<tbody>
{% for match in round.valid_matches %}
    <tr>
        <td>{{ match }}</td>
        <td>{{ match.table|default_if_none:"-" }}</td>
        <td class="text-center">{% if round.show_results %}{{ match.result|default_if_none:"-" }}{% else %}-{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}


{% if player_scoreboard %}
<h3 class="my-4">Classifica individuale</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Giocatore</th>
    <th scope="col">Squadra</th>
    <th scope="col" class="text-center">Partite vinte</th>
    </tr>
</thead>
<tbody>
{% for player, score, rank in player_scoreboard %}
    <tr>
        <th scope="row" class="text-center">{{ rank }}</th>
        <td>{{ player.name }}</td>
        <td>{{ player.team.name }}</td>
        <td class="text-center">{{ score.primary }}</td>
        {# <td class="text-center">{{ score.num_matches }}</td> #}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}


{# Team modals #}
{% for team in teams %}
<div class="modal fade" id="team-modal-{{ team.id }}" tabindex="-1" role="dialog" aria-labelledby="label-team-{{ team.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-team-{{ team.id }}">{{ team.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for player in team.player_set.all %}
            {{ player.name }}{% if player.is_captain %} (capitano){% endif %}<br />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
